* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ecdddd;
  background-color: #887f7fc2;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
